---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>User Information</h1>
    <p id="referrer">Referrer:</p>
    <p id="platform">Platform:</p>
    <p id="browser">Browser:</p>
    <p id="userAgent">User Agent:</p>
  </main>
</Layout>

<script>
  // Function to get the browser name
  function getBrowser() {
    let userAgent = navigator.userAgent;
    let browserName = "Unknown";

    if (userAgent.indexOf("Firefox") > -1) {
      browserName = "Mozilla Firefox";
    } else if (userAgent.indexOf("SamsungBrowser") > -1) {
      browserName = "Samsung Internet";
    } else if (
      userAgent.indexOf("Opera") > -1 ||
      userAgent.indexOf("OPR") > -1
    ) {
      browserName = "Opera";
    } else if (userAgent.indexOf("Trident") > -1) {
      browserName = "Microsoft Internet Explorer";
    } else if (userAgent.indexOf("Edge") > -1) {
      browserName = "Microsoft Edge";
    } else if (userAgent.indexOf("Chrome") > -1) {
      browserName = "Google Chrome";
    } else if (userAgent.indexOf("Safari") > -1) {
      browserName = "Apple Safari";
    }
    return browserName;
  }

  // Get the referrer
  let referrer = document.referrer;
  document.getElementById("referrer")!.textContent += referrer || "No referrer";

  // Get the platform
  let platform = navigator.platform;
  document.getElementById("platform")!.textContent += platform;

  // Get the browser
  let browser = getBrowser();
  document.getElementById("browser")!.textContent += browser;

  // Get the user agent
  let userAgent = navigator.userAgent;
  document.getElementById("userAgent")!.textContent += userAgent;
</script>
