---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <a href="https://www.browserscan.net" target="_blank">Browserscan</a>
        <a
            href="https://head.mohanverylong123456789.workers.dev"
            target="_blank">Head</a
        >
        <a href="http://ip-api.com/json" target="_blank">Head</a>
        <a href="http://ip-api.com/json" target="_blank">ip-api</a>
        <a href="https://deviceinfo.me" target="_blank">deviceinfo</a>
    </main>
</Layout>

<style>
    a {
        display: flex;
        gap: 20px;
        padding: 20px;
        border: 1px solid black;
    }
</style>
