---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        {   title === "Links" && 
            <script is:inline>
                window.addEventListener("blur", () => {
                    console.log("blur");
                });

                window.addEventListener("focus", () => {
                    console.log("focus");
                });

                document.addEventListener("visibilitychange", () => {
                    console.log("visibilitychange");
                });
            </script>
        }
    </head>
    <body>
        <slot />
    </body>
</html>
